<!doctype html>
<html lang="en">

<head>
    <title>Geo Location / Weather</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="https://img.icons8.com/office/16/000000/sunset--v2.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <fieldset>
            <form action="/" method="post">
                <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
                <!-- <input name="ip_address" type="text" class="ghost-input" placeholder="Enter a IP Address" required> -->
                <input type="submit" class="ghost-button" value="Get Weather">
            </form>
            <form action="/ip" method="post">
                <!-- <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required> -->
                <input name="ip_address" type="text" class="ghost-input" placeholder="Enter an IP Address" required>
                <input type="submit" class="ghost-button" value="Get IP Information">
            </form>
        </fieldset>


        <%if( ip_info !==null){ %>
            <div class="grid">
                <br/>
                <p>
                    GeoLocation Information
                </p>
                <p class="text-muted small">
                    IP Address: <%= ip_address %>
                </p>
            </div>
                <div class="row">
                    <!-- <div class="col-md-12"> -->
                        <!-- <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Country</h6>
                                <FontAwesomeIcon icon="fa-solid fa-globe" />
                                <p class="card-text">
                                    <%= country %>
                                </p>
                                <h6 class="card-title">City</h6>
                                <p class="card-text">
                                    <%= city %>
                                </p>
                                <h6 class="card-title">Region</h6>
                                <p class="card-text">
                                    <%= region %>
                                </p>
                                <h6 class="card-title">TimeZone</h6>
                                <p class="card-text">
                                    <%= timezone %>
                                </p>
                                <h6 class="card-title">Org</h6>
                                <p class="card-text">
                                    <%= org %>
                                </p>
                                <h6 class="card-title">LOC</h6>
                                <p class="card-text">
                                    <%= loc %>
                                </p>
                               
                            </div>
                        </div> -->

                        <div class="col-md-6">
                            <div class="col-6">
                                <i class="fa-solid fa-globe"></i>
                                <h6>Country</h6>
                                <p>
                                    <%= country %>
                                </p>
                            </div>
                            <div class="col-6">
                                <h6>Region</h6>
                                <p>
                                    <%= region %>
                                </p>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="col-6">
                                <h6>City</h6>
                                <p>
                                    <%= city %>
                                </p>
                            </div>
                            <div class="col-6">
                                <h6>TimeZone</h6>
                                <p>
                                    <%= timezone %>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-6">
                                <h6>Org</h6>
                                <p>
                                    <%= org %>
                                </p>
                            </div>
                            <div class="col-6">
                                <h6>LOC</h6>
                                <p>
                                    <%= loc %>
                                </p>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>

        <% } %>

        <% if(error !==null){ %>
            <p>
                <%= error %>
            </p>
            <% } %>


        <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

        <%if( weather !==null){ %>
            <div class="grid">
                <p>
                    <%= place %>
                </p>
                <p class="text-muted small">
                    <%= timezone %>
                </p>
            </div>


            <div class="card-deck">
                <div class="card card-accent-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Summary</div>
                    <div class="card-body text-dark">
                        <img src="<%= icon %>" alt="Weather-Icon">
                        <h5 class="card-title">Temperature</h5>
                        <p class="card-text">
                            In Degrees:
                            <%= temp %>°C/
                                <%= fahrenheit %>°F
                        </p>
                        <h5 class="card-title">Main</h5>
                        <p class="card-text">
                            <%= main %>
                        </p>
                    </div>
                </div>
                <div class="card-deck">
                    <div class="card card-acTomorrowcent-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">Description</div>
                        <div class="card-body text-dark">
                            <h5 class="card-title">Overall Description: </h5>
                            <p class="card-text">
                                <%= description %>
                            </p>
                            <h5 class="card-title">Cloud coverage: </h5>
                            <p class="card-text">
                                <%= clouds %>%
                            </p>
                            <h5 class="card-title">Visibility: </h5>
                            <p class="card-text">
                                <%= visibility %> meters
                            </p>
                        </div>
                    </div>
                    <div class="card-deck">
                        <div class="card card-accent-dark mb-3" style="max-width: 18rem;">
                            <div class="card-header">Other info</div>
                            <div class="card-body text-dark">
                                <h5 class="card-title">Humidity: </h5>
                                <p class="card-text">
                                    <%= humidity %> g.m-3
                                </p>
                            </div>
                            <div class="card-body text-dark">
                                <h5 class="card-title">Pressure: </h5>
                                <p class="card-text">
                                    <%= pressure %> N·m−2
                                </p>
                            </div>
                        </div>
                    </div>

                    <% } %>

                        <% if(error !==null){ %>
                            <p>
                                <%= error %>
                            </p>
                            <% } %>

                </div>
                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                    crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                    crossorigin="anonymous"></script>


</body>

</html>